fastapi
uvicorn
sqlalchemy
passlib
bcrypt
python-jose
python-multipart
jinja2
aiofiles
itsdangerous
pydantic[email]
requests
pytest
psycopg2
pandas
openpyxl
xlrd
xlwt
fpdf2==2.5.1
qrcode[pil]
python-dotenv