<style type="text/css">
  .important {
    color: #336699;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    /*background: url('/static/123.jpg') no-repeat;*/
    background-size: cover;
  }
</style>
        <head>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          <meta http-equiv="X-UA-Compatible" content="ie=edge" />
          <title>Acerca de </title>
          <!-- <link rel="preload" href="/dist/libs/bootstrap-table/all.css" as="style"> -->
          <link href="/dist/libs/jquery-treetable-master/jquery-treetable.css" rel="stylesheet" />
          <link href="/dist/css/tabler.min.css" rel="stylesheet" />
          <link href="/dist/iconfont/tabler-icons.min.css" rel="stylesheet" />
          <link href="/dist/libs/bootstrap-table/all.css" rel="stylesheet" />
          <link href="/dist/libs/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" />
          <link href="/dist/libs/select2-4.0.13/css/select2.min.css" rel="stylesheet" />
          <link href="/dist/libs/select2-4.0.13/css/select2-bootstrap.min.css" rel="stylesheet" />
          <link href="/dist/libs/filepond/filepond.min.css" rel="stylesheet" />
          <link href="/dist/libs/filepond/filepond-plugin-get-file.min.css" rel="stylesheet" />
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/5.1.0/introjs.min.css" integrity="sha512-iaYE9B9u4GU8+KkRTOdRdZuzKdYw1X0hOAa4GwDV/uwdXgoX/ffT3ph1+HG1m4LPZD/HV+dkuHvWFLZtPviylQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      
        </head>
<div class="wrapper">
  <div class="container">
    <br>
    <br>
    <h1 class="text-center">Acerca de SIA-UTSELVA</h1>
    <div class="markdown">
      <div style="margin: auto;width: 70%;padding: 10px;">
        <p class="text-break lh-base text-center" style="font-size: 14px">Se inicia el proyecto denominado
          <strong>Diseño y Desarrollo del Sistema Institucional de Información Académico-Administrativo para la
            Universidad Tecnológica de la Selva “SIA-UTSELVA”</strong>, el cual permitirá agilizar los tiempos de
          respuesta en la generación de informes, seguimiento y trazabilidad del uso de los recursos presupuestales
          asignados a las áreas de la Institución.</p>
      </div>
    </div>
    <br><br>
    <h2>Responsables del proyecto</h2>
    <div class="p-0 m-0 row row-cols-1 row-cols-md-2">
      <!--Profe armando-->
      <div class="xl-6">
        <div class="page-header bg-white shadow-sm p-2 rounded-3">
          <div class="row align-items-center">
            <div class="col-auto">
              <span class="avatar"
                style="background-image: url(../static/photos/prof_armando.jpg); width: 90px;height: 90px;">
                <span class="badge bg-success"></span>
              </span>
            </div>
            <div class="col">
              <h2 class="page-title">MC. Armando Méndez Morales</h2>
              <div class="page-subtitle">
                <div class="row">
                  <div class="col-auto text-secondary">
                    Periodo: Septiembre 2021 - ...
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Profe Wilber-->
      <div class="xl-6">
        <div class="page-header bg-white shadow-sm p-2 rounded-3">
          <div class="row align-items-center">
            <div class="col-auto">
              <span class="avatar"
                style="background-image: url(../static/photos/prof_wilber.jpg); width: 90px;height: 90px;">
                <span class="badge bg-success"></span>
              </span>
            </div>
            <div class="col">
              <h2 class="page-title">Dr. Wilber Peñaloza Mendoza</h2>
              <div class="page-subtitle">
                <div class="row">
                  <div class="col-auto text-secondary">
                    Periodo: Septiembre 2021 - ...
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <br>
  <br>
</div>

