<style type="text/css">
  .important {
    color: #3e83c7;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    /*background: url('/static/123.jpg') no-repeat;*/
    background-size: cover;
  }
  img.izquierda{
    float: left;
    width: 250px;
    height: 250px;
  }
</style>
        <head>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          <meta http-equiv="X-UA-Compatible" content="ie=edge" />
          <title>Acerca de </title>
          <!-- <link rel="preload" href="/dist/libs/bootstrap-table/all.css" as="style"> -->
          <link href="/dist/libs/jquery-treetable-master/jquery-treetable.css" rel="stylesheet" />
          <link href="/dist/css/tabler.min.css" rel="stylesheet" />
          <link href="/dist/iconfont/tabler-icons.min.css" rel="stylesheet" />
          <link href="/dist/libs/bootstrap-table/all.css" rel="stylesheet" />
          <link href="/dist/libs/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" />
          <link href="/dist/libs/select2-4.0.13/css/select2.min.css" rel="stylesheet" />
          <link href="/dist/libs/select2-4.0.13/css/select2-bootstrap.min.css" rel="stylesheet" />
          <link href="/dist/libs/filepond/filepond.min.css" rel="stylesheet" />
          <link href="/dist/libs/filepond/filepond-plugin-get-file.min.css" rel="stylesheet" />
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/5.1.0/introjs.min.css" integrity="sha512-iaYE9B9u4GU8+KkRTOdRdZuzKdYw1X0hOAa4GwDV/uwdXgoX/ffT3ph1+HG1m4LPZD/HV+dkuHvWFLZtPviylQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      
        </head>
<div class="wrapper">
  <div class="container">
    <br>
    <br>
    <h1 class="text-center">Acerca de SITES (Sistemas Tecnológicos de la Selva)</h1>
    <div class="markdown">
      <div style="margin: auto;width: 70%;">
        <img src="../static/photos/Logo.png" alt="Logo" class="izquierda">
        <br>
        <br>
        <br>
        <p class="text-break lh-base text-center">
          SITES (Sistemas Tecnológicos de la Selva)Es una empresa mexicana de desarrollo de productos tecnológicos, especialmente de páginas web, aplicaciones web, aplicaciones
            móviles, incluso podemos crear sistemas de control para su negocio o empresa.
            La empresa SITES (Sistemas Tecnológicos de la Selva) fue fundada el día 06 del mes de mayo en el año 2022, resultado de un compromiso de jóvenes en busca de
            una alternativa para poder crecer profesionalmente y personalmente.</p>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2>Responsables del proyecto</h2>
    <div class="p-0 m-0 row row-cols-1 row-cols-md-2">
      <!--Henry-->
      <div class="xl-6">
        <div class="page-header bg-white shadow-sm p-2 rounded-3">
          <div class="row align-items-center">
            <div class="col-auto">
              <span class="avatar"
                style="background-image: url(../static/photos/henry.jpeg); width: 90px;height: 90px;">
                <span class="badge bg-success"></span>
              </span>
            </div>
            <div class="col">
              <h2 class="page-title">Alumno:Henry Lopez Vazque</h2>
              <div class="page-subtitle">
                <div class="row">
                  <div class="col-auto text-secondary">
                    Estudiante de la Universidad Tecnológica De La Selva                  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Eduardo-->
      <div class="xl-6">
        <div class="page-header bg-white shadow-sm p-2 rounded-3">
          <div class="row align-items-center">
            <div class="col-auto">
              <span class="avatar"
                style="background-image: url(../static/photos/quique.jpeg); width: 90px;height: 90px;">
                <span class="badge bg-success"></span>
              </span>
            </div>
            <div class="col">
              <h2 class="page-title">Alumno:Eduardo Enrique Gutierrez Cruz</h2>
              <div class="page-subtitle">
                <div class="row">
                  <div class="col-auto text-secondary">
                    Estudiante de la Universidad Tecnológica De La Selva                  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Pablo-->
      <div class="xl-6">
        <div class="page-header bg-white shadow-sm p-2 rounded-3">
          <div class="row align-items-center">
            <div class="col-auto">
              <span class="avatar"
                style="background-image: url(../static/photos/pablo.jpg); width: 90px;height: 90px;">
                <span class="badge bg-success"></span>
              </span>
            </div>
            <div class="col">
              <h2 class="page-title">Alumno:Pablo Fabian Ruiz Constantino</h2>
              <div class="page-subtitle">
                <div class="row">
                  <div class="col-auto text-secondary">
                    Estudiante de la Universidad Tecnológica De La Selva                  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
            <!--Dany-->
            <div class="xl-6">
              <div class="page-header bg-white shadow-sm p-2 rounded-3">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <span class="avatar"
                      style="background-image: url(../static/photos/dany.jpeg); width: 90px;height: 90px;">
                      <span class="badge bg-success"></span>
                    </span>
                  </div>
                  <div class="col">
                    <h2 class="page-title">Alumno:Mario Daniel Moreno Moreno</h2>
                    <div class="page-subtitle">
                      <div class="row">
                        <div class="col-auto text-secondary">
                          Estudiante de la Universidad Tecnológica De La Selva                  
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  </div>
  <br>
  <br>
</div>

