<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Geolocalizacion</title>
	<style>
        #map {
          height: 100%;
        }
        html, body {
          height: 100%;
          margin: 0;
          padding: 0;
        }
      </style>
</head>
<body>
    <!-- <button onclick="busqxPuntos()">Boton</button> -->
    
	<div id="map"></div>
	<!-- <a class="" href="#" onclick="busqxPuntos()"> Buscar por puntos </a> -->
    
	<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSG6rPxXP8g92omTJIJg1qCM2vUD_vK4o&callback=initMap&v=weekly"></script>
	<script>

        function initMap(){
            var puntos  = 0;
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 16,
                center: { lat: 16.90864465926933, lng: -92.08949481639918},
                // mapId:"6d19b279c4ce285c",
            });

            // function busqxPuntos(){
                let infoWindow1 = new google.maps.InfoWindow({
                    content: "Clic en el mapa para marcar origen",
                    position: { lat: 16.90864465926933, lng: -92.08949481639918},
                });
                infoWindow1.open(map);
                if (puntos < 2){
                    map.addListener("click", (mapsMouseEvent) => {
                        puntos+=1;
                        console.log("puntos ", puntos);
                        infoWindow1.close();
                        infoWindow = new google.maps.InfoWindow({
                            position: mapsMouseEvent.latLng,
                        });
                        marcarpunto(mapsMouseEvent.latLng);
                    });
                }

                function marcarpunto(seleccion){
                    console.log("lat", seleccion.lat());
                    console.log("long", seleccion.lng());
                    if (puntos == 1){
                        infoWindow.setContent(
                            "Origen"
                        );
                        infoWindow.open(map);

                    }
                    if (puntos==2){
                        infoWindow.setContent(
                            "Destino"
                        );
                        infoWindow.open(map);
                        console.log("Buscando rutas");
                        setTimeout(() => {
                            // redireccionar a la página solicitada
                            // initMap();
                        }, 1000);
                    }
                }
            // }
        }


                // const markerView = new google.maps.marker.AdvancedMarkerView({
        //     map,
        //     position: {lat: 16.90864465926933, lng: -92.08949481639918},
        //     title: 'Mi ubicación',
        // });

        // markerView.addListener('click', ({domEvent, latLng}) => {
        //     const {target} = domEvent;
        //     // Handle the click event.
        //     // ...
        //     console.log("click a marker");
        // });



        // google.maps.event.addListener( map, "click", function(ele) {
        //     // codigo que crea el marcador
        //     new google.maps.Marker({
        //         map: map
        //     })
        // });

        

        

		// function cargarMap(){

		// 	function localizacion(posicion){
        //         var latitude = posicion.coords.latitude;
        //         var longitude = posicion.coords.longitude;
        //         console.log("longitud ", longitude);
        //         console.log('latitud ', latitude)
        //         var map = new google.maps.Map(document.getElementById('map'), {
        //             zoom: 16,
        //             center: { lat: latitude, lng: longitude},
        //         });
		// 	}
        //     navigator.geolocation.getCurrentPosition(localizacion);
        // }

	</script>
</body>
</html>